<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios da API do Mongo</title>

    <style>
        body {
            background-color: rgb(0, 94, 55);
            text-align: center;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            background-color: rgb(2, 202, 119);
            width: 50%;
            border-radius: 10px;
            padding: 1em;
            color: rgb(117, 117, 117);
            margin: 3em auto;
        }

        .content {
            background-color: rgb(0, 255, 149);
            border-radius: 10px;
            padding: 1em;
            color: black;
            font-size: 1.3em;
            text-align: start;
        }

        .user {
            border-bottom: 1px solid black;
        }
    </style>
</head>